
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Parapharmacie</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="icon" href="{{ asset('build2/Knight/logo.png')}}" type="image/png">
    <link rel="stylesheet" href="{{ asset('site/css/bootstrap.min.css') }}"/>
    <script src="{{ asset('site/js/jquery2.js')}}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>
    <!-- <script src="{{ asset('site/main.js')}}"></script>-->
    <link rel="stylesheet" type="text/css" href="{{ asset('site/style.css')}}">


    <style>
        .topleft {
            position: absolute;
            top: 0px;
            left: 16px;
            font-size: 18px;
        }

        .ScrollStyle
        {
            max-height: 400px;
            overflow-y: scroll;
        }

        .header {
            color: #36A0FF;
            font-size: 27px;
            padding: 10px;
        }

        .bigicon {
            font-size: 35px;
            color: #36A0FF;
        }

    </style>
</head>
<body>
<div class="wait overlay">
    <div class="loader"></div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                <span class="sr-only">navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
                <img class="topleft" align="left" src="{{ asset('build2/Knight/logo.png') }}" width="90px" height="55px">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('site') }}" style="margin-left:80px;"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="{{ path('site') }}"><span class="glyphicon glyphicon-modal-window"></span>Product</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span>Mon Panier<span class="badge">{{ produitsCart|length }}</span></a>
                        <div class="dropdown-menu ScrollStyle" style="width:400px;">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-3">No</div>
                                        <div class="col-md-3">Image du Produit</div>
                                        <div class="col-md-3">Nom du Produit</div>
                                        <div class="col-md-3">Prix en DH</div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {% if produitsCart  %}
                                        {% set id = 1 %}
                                        {% for p in produitsCart %}
                                            <div id="cart_product">
                                                <div class="row">
                                                    <div class="col-md-3">{{ id }}</div>
                                                    <div class="col-md-3"><img src="{{ asset('uploads/' ~ p.produit.imagePath) }}" height="100px" width="50px"></div>
                                                    <div class="col-md-3"><h6>{{ p.produit.nom }}</h6></div>
                                                    <div class="col-md-3">{{ p.produit.prix }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href="{{ absolute_url(asset(''))}}site/delete/{{ p.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a href="{{ absolute_url(asset(''))}}site/edit/{{ p.id }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set id=id+1 %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>

                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Hi {{ app.user.prenom }}</a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{ path('profile') }}" style="text-decoration:none; color:blue;">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('orders') }}" style="text-decoration:none; color:blue;">Orders</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('security_logoutClient') }}" style="text-decoration:none; color:blue;">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>SignIn</a>
                        <ul class="dropdown-menu">
                            <div style="width:300px;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Login</div>
                                    <div class="panel-heading">
                                        <form  action="{{ path('security_loginClient') }}"  method="post">
                                            <label for="email">Email</label>
                                            <input name="_username"  type="text" class="form-control"  placeholder="Email"   />
                                            <label for="email">Password</label>
                                            <input name="_password"  type="password" class="form-control"  placeholder="Password"  />
                                            <p><br/></p>Don't have an account?
                                            <input type="hidden" name="_target_path" value="/site" />
                                            <a href="{{ path('security_registration') }}" style="color:white; list-style:none;">Sign up</a><input type="submit" class="btn btn-success" style="float:right;">
                                        </form>
                                    </div>
                                    <div class="panel-footer" id="e_msg"></div>
                                </div>
                            </div>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<p><br/></p>
<p><br/></p>
<p><br/></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post">
                        <fieldset>
                            <legend class="text-center header">Contact us</legend>
                            {{ form_start(formMessage) }}
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    {{ form_widget(formMessage.nom, {'attr': {'class': 'form-control', 'pattern': '[A-Za-z]+\[A-Za-z]+' ,'placeholder':'Nom' } }) }}
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    {{ form_widget(formMessage.prenom, {'attr': {'class': 'form-control', 'pattern': '[A-Za-z]+\[A-Za-z]+' ,'placeholder':'Prénom' } }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                                <div class="col-md-8">
                                    {{ form_widget(formMessage.email, {'attr': {'class': 'form-control', 'pattern': '^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$','placeholder':'Email'} }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                                <div class="col-md-8">
                                    {{ form_widget(formMessage.tel, {'attr': {'class': 'form-control','placeholder':'Portable' ,'pattern':'[+0-9]+'} } ) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                                <div class="col-md-8">
                                    {{ form_widget(formMessage.comment, {'attr': {'class': 'form-control', 'placeholder':'Enter your massage for us here. We will get back to you within 2 business days.' } }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                            {{ form_end(formMessage) }}
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
















