
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Parapharmacie</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <link rel="icon" href="{{ asset('build2/Knight/logo.png')}}" type="image/png">
    <link rel="stylesheet" href="{{ asset('site/css/bootstrap.min.css') }}"/>
    <script src="{{ asset('site/js/jquery2.js')}}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>
    <!-- <script src="{{ asset('site/main.js')}}"></script>-->
    <link rel="stylesheet" type="text/css" href="{{ asset('site/style.css')}}">


    <style>
        .topleft {
            position: absolute;
            top: 0px;
            left: 16px;
            font-size: 18px;
        }

        .ScrollStyle
        {
            max-height: 400px;
            overflow-y: scroll;
        }


        .credit-card-div  span { padding-top:10px; }
        .credit-card-div img { padding-top:30px; }
        .credit-card-div .small-font { font-size:9px; }
        .credit-card-div .pad-adjust { padding-top:10px; }


    </style>
</head>
<body>
<div class="wait overlay">
    <div class="loader"></div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                <span class="sr-only">navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
                <img class="topleft" align="left" src="{{ asset('build2/Knight/logo.png') }}" width="90px" height="55px">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('site') }}" style="margin-left:80px;"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="{{ path('site') }}"><span class="glyphicon glyphicon-modal-window"></span>Product</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('contact') }}"><span class="glyphicon glyphicon-envelope"></span>Contact Us</a></li>
                {% if app.user %}
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart"></span>Cart<span class="badge">{{ produitsCart|length }}</span></a>
                        <div class="dropdown-menu ScrollStyle" style="width:400px;">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-3">No</div>
                                        <div class="col-md-3">Image du Produit</div>
                                        <div class="col-md-3">Nom du Produit</div>
                                        <div class="col-md-3">Prix en DH</div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    {% if produitsCart  %}
                                        {% set id = 1 %}
                                        {% for p in produitsCart %}
                                            <div id="cart_product">
                                                <div class="row">
                                                    <div class="col-md-3">{{ id }}</div>
                                                    <div class="col-md-3"><img src="{{ asset('uploads/' ~ p.produit.imagePath) }}" height="100px" width="50px"></div>
                                                    <div class="col-md-3"><h6>{{ p.produit.nom }}</h6></div>
                                                    <div class="col-md-3">{{ p.produit.prix }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <div class="btn-group">
                                                            <a href="{{ absolute_url(asset(''))}}site/delete/{{ p.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                                            <a href="{{ absolute_url(asset(''))}}site/edit/{{ p.id }}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% set id=id+1 %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>

                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Hi {{ app.user.prenom }}</a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{ path('profile') }}" style="text-decoration:none; color:blue;">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('orders') }}" style="text-decoration:none; color:blue;">Orders</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('security_logoutClient') }}" style="text-decoration:none; color:blue;">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>SignIn</a>
                        <ul class="dropdown-menu">
                            <div style="width:300px;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Login</div>
                                    <div class="panel-heading">
                                        <form  action="{{ path('security_loginClient') }}"  method="post">
                                            <label for="email">Email</label>
                                            <input name="_username"  type="text" class="form-control"  placeholder="Email"   />
                                            <label for="email">Password</label>
                                            <input name="_password"  type="password" class="form-control"  placeholder="Password"  />
                                            <p><br/></p>Don't have an account?
                                            <input type="hidden" name="_target_path" value="/site" />
                                            <a href="{{ path('security_registration') }}" style="color:white; list-style:none;">Sign up</a><input type="submit" class="btn btn-success" style="float:right;">
                                        </form>
                                    </div>
                                    <div class="panel-footer" id="e_msg"></div>
                                </div>
                            </div>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<p><br/></p>
<p><br/></p>
<p><br/></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="cart_msg">
            <!--Cart Message-->
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Mon Panier</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 col-xs-2"><b>Action</b></div>
                        <div class="col-md-2 col-xs-2"><b>Image du Produit</b></div>
                        <div class="col-md-2 col-xs-2"><b>Nom du Produit</b></div>
                        <div class="col-md-2 col-xs-2"><b>Quantité</b></div>
                        <div class="col-md-2 col-xs-2"><b>Prix du Produit DH</b></div>
                        <div class="col-md-2 col-xs-2"><b>Mode de Paiement</b></div>
                    </div>
                    <div id="cart_checkout"></div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="btn-group">
                                <a href="{{ absolute_url(asset(''))}}site/delete/{{ produitCart.id }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                <a href="" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span></a>
                            </div>
                        </div>
                        <div class="col-md-2"><img src="{{ asset('uploads/' ~ produitCart.produit.imagePath) }}" height="200px" width="120px"></div>
                        <div class="col-md-2">{{ produitCart.produit.nom }}</div>
                        <div class="col-md-2">
                            <form action="{{ absolute_url(asset(''))}}site/edit/{{ produitCart.id }}?qte=q"  method="get">
                                <input type="text" class="form-control" placeholder="Quantite" name="qte" value="{{ produitCart.qte  }}">
                            </form>
                        </div>
                        <div class="col-md-2"><input type='text' class='form-control'  value="{{ produitCart.produit.prix }}" disabled></div>
                        <div class="col-md-2">
                            <form action="{{ absolute_url(asset(''))}}site/commander/{{ produitCart.id }}?radio=r" method="get">
                            <input type="radio" name="radio" value="carte bancaire" data-toggle="modal" data-target="#myModal" > Carte bancaire<br>
                                <input type="radio" name="radio" value="à la livraison" checked> A la livraison<br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <b><h4><strong> Total: {{ produitCart.produit.prix*produitCart.qte }} DH</strong></h4></b></b>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="btn-group">
                                    <button type="submit" name="submit" class="btn btn-info btn-lg" style="margin-left:550px;" >Commander</button>
                                </div>
                            </div>
                        </div>
                            </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
</div>


<!-- Modal for the popup credit cart-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Please Enter Credit Card Informations
                </h4>
            </div>
            <div class="modal-body">
                <form action="#" class="credit-card-div">
                    <div class="panel panel-default" >
                        <div class="panel-heading">

                            <div class="row ">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Enter Card Number" />
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font" > Expiry Month</span>
                                    <input type="text" class="form-control" placeholder="MM" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font" >  Expiry Year</span>
                                    <input type="text" class="form-control" placeholder="YY" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font" >  CCV</span>
                                    <input type="text" class="form-control" placeholder="CCV" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="{{ asset('images/credit-card.png') }}" class="img-rounded" width="60px" height="70px" />
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-12 pad-adjust">

                                    <input type="text" class="form-control" placeholder="Name On The Card" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pad-adjust">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked class="text-muted"> Save details for fast payments <a href="#"> learn how ?</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                    <input type="submit"  class="btn btn-danger" value="CANCEL" />
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                    <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
















