
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Parapharmacie</title>
    <link rel="icon" href="{{ asset('build2/Knight/logo.png')}}" type="image/png">
    <link rel="stylesheet" href="{{ asset('site/css/bootstrap.min.css') }}"/>
    <script src="{{ asset('site/js/jquery2.js')}}"></script>
    <script src="{{ asset('site/js/bootstrap.min.js')}}"></script>
    <!-- <script src="{{ asset('site/main.js')}}"></script>-->
    <link rel="stylesheet" type="text/css" href="{{ asset('site/style.css')}}">


    <style>
        .topleft {
            position: absolute;
            top: 0px;
            left: 16px;
            font-size: 18px;
        }

        .ScrollStyle
        {
            max-height: 400px;
            overflow-y: scroll;
        }

    </style>
</head>
<body>
<div class="wait overlay">
    <div class="loader"></div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                <span class="sr-only">navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">
                <img class="topleft" align="left" src="{{ asset('build2/Knight/logo.png') }}" width="90px" height="55px">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('site') }}" style="margin-left:80px;"><span class="glyphicon glyphicon-home"></span>Home</a></li>
                <li><a href="{{ path('site') }}"><span class="glyphicon glyphicon-modal-window"></span>Product</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('contact') }}"><span class="glyphicon glyphicon-envelope"></span>Contact Us</a></li>
                {% if app.user %}


                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>Hi {{ app.user.prenom }}</a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            <li><a href="{{ path('profile') }}" style="text-decoration:none; color:blue;">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('orders') }}" style="text-decoration:none; color:blue;">Orders</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('security_logoutClient') }}" style="text-decoration:none; color:blue;">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>SignIn</a>
                        <ul class="dropdown-menu">
                            <div style="width:300px;">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Login</div>
                                    <div class="panel-heading">
                                        <form  action="{{ path('security_loginClient') }}"  method="post">
                                            <label for="email">Email</label>
                                            <input name="_username"  type="text" class="form-control"  placeholder="Email"   />
                                            <label for="email">Password</label>
                                            <input name="_password"  type="password" class="form-control"  placeholder="Password"  />
                                            <p><br/></p>Don't have an account?
                                            <input type="hidden" name="_target_path" value="/site" />
                                            <a href="{{ path('security_registration') }}" style="color:white; list-style:none;">Sign up</a><input type="submit" class="btn btn-success" style="float:right;">
                                        </form>
                                    </div>
                                    <div class="panel-footer" id="e_msg"></div>
                                </div>
                            </div>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<p><br/></p>
<p><br/></p>
<p><br/></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="cart_msg">
            <!--Cart Message-->
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
                 <div class="panel panel-primary">
                    <div class="panel-heading" align="center">
                        <h1 class="panel-title">My Profile</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-offset-3">
                                                {{ form_start(formClient) }}
                                                <div class="form-group">
                                                    {{ form_label(formClient.nom, 'Nom :') }}
                                                    {{ form_widget(formClient.nom, {'attr': {'class': 'form-control', 'pattern': '[A-Za-z]+\[A-Za-z]+' } }) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(formClient.prenom, 'Prénom :') }}
                                                    {{ form_widget(formClient.prenom, {'attr': {'class': 'form-control', 'pattern': '[A-Za-z]+\[A-Za-z]+'} })   }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(formClient.email, 'Email :') }}
                                                    {{ form_widget(formClient.email, {'attr': {'class': 'form-control', 'pattern': '^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'} }) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(formClient.adressLivraison, 'Adresse de livraison :') }}
                                                    {{ form_widget(formClient.adressLivraison, {'attr': {'class': 'form-control'} } ) }}
                                                </div>
                                                <div>
                                                    {{ form_label(formClient.villeLivraison, 'ville :') }}
                                                    {{ form_widget(formClient.villeLivraison, {'attr': {'class': 'form-control'} } ) }}
                                                </div>
                                                <div>
                                                    {{ form_label(formClient.civility, 'Civilité  :') }}
                                                    {{ form_widget(formClient.civility, {'attr': {'class': 'form-control'} } ) }}
                                                </div>
                                                <div>
                                                    {{ form_label(formClient.tel, 'Portable :') }}
                                                    {{ form_widget(formClient.tel, {'attr': {'class': 'form-control' ,'pattern':'[+0-9]+'} } ) }}
                                                </div>
                                                <button type="submit" name="Submit" class="btn btn-primary">Submit </button>
                                                <button type="reset" name="Reset" value="Reset" class="btn btn-primary">Reset </button>
                                                {{ form_end(formClient) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                </div>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>
<div class="col-md-2"></div>

</body>
</html>
















