
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="{{ path('dashboard') }}">Home<span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo0"> Employés <span style="font-size:16px;" class="glyphicon glyphicon-menu-down"></span><span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
            <ul id="demo0" class="collapse">
                <li class="active">
                    <a href="{{ path('add_employe') }}"><span style="font-size:18px;" ></span> Ajouter un employé</a>
                </li>

                <li class="active">
                    <a href="{{ path('show_employe') }}"><span style="font-size:18px;" ></span> Afficher les employés</a>
                </li>
            </ul>
        </li>
        {% endif %}

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo1">  Fournisseurs <i style="font-size:16px;" class="pull-center hidden-xs showopacity glyphicon glyphicon-menu-down"></i><span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></a>
            <ul id="demo1" class="collapse">
                <li class="active">
                    <a href="{{ path('add_fournisseur') }}"><span style="font-size:18px;" ></span> Ajouter un Fournisseur</a>
                </li>

                <li class="active">
                    <a href="{{ path('show_fournisseur') }}"><span style="font-size:18px;" ></span> Afficher les fournisseurs</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo3">Produits<span style="font-size:16px;" class="glyphicon glyphicon-menu-down"></span><span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-align-justify"></span></a>
            <ul id="demo3" class="collapse">
                <li>
                    <a href="{{ path('add_produit') }}"><span style="font-size:18px;" ></span> Ajouter un produit</a>
                </li>
                <li>
                    <a href="{{ path('show_produit') }}"><span style="font-size:18px;" ></span> Afficher les produits</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="{{ path('show_client') }}"> Comptes Clients <i style="font-size:16px;" ></i><span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-usd"></span></a>
        </li>

        <li>
            <a href="{{ path('show_commandes') }}"> Commandes En attente<span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-text-background"></span></a>
        </li>
        <li>
            <a href="">Ventes<span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-fire"></span></a>
        </li>
        <li>
            <a href="">Journal<span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-rub"></span></a>
        </li>
        <li>
            <a href="{{ path('rapport') }}">Statistiques<span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-rub"></span></a>
        </li>
        <li>
            <a href="{{ path('message') }}">Messagerie<span style="font-size:22px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-minus-sign"></span></a>
        </li>




    </ul>

</div>

