{% block body %}
    <html >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title>Dashboard</title>

        <link href="{{ asset('build2/Knight/css/style.css') }}" rel="stylesheet" type="text/css">

        <link rel="icon" href="{{ asset('build2/Knight/logo.png')}}" type="image/png">
        <link href="{{ asset('build2/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset('build2/css/sb-admin.css') }}" rel="stylesheet">

        <link href="{{ asset('build2/css/plugins/morris.css')}}" rel="stylesheet">
        <link href="{{ asset('build2/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">



        <style>
            input:invalid {
             border-color: #a9180e;
            }

            input:valid {
                border: 1px solid rgb(200, 242, 250);
            }




        </style>
    </head>
    <body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
                <img align="left" src="{{ asset('build2/Knight/logo.png') }}" width="90px" height="55px">
                <strong> Welcome {{ app.user.prenom }}</strong>
            </div>

            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="{{ path('security_logout') }}" class="dropdown-toggle" ><i class="fa fa-fw fa-power-off"></i> Log Out </a>
                </li>
            </ul>
            {{ include('global/bar.html.twig') }}
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid" style="padding-bottom: 20%">
                <div class="row">
                    <div class="col-lg-12" >
                        <h1 align="center" class="page-header">
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading" align="center">
                                <h1 class="panel-title">
                                        La Commande
                                </h1>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="box">
                                            <div class="box-body">
                                                <table class="table table-bordered" >
                                                    <thead><h4>Le Client :</h4>
                                                    <tr>
                                                        <th >Client</th>
                                                        <th >Adresse</th>
                                                        <th >Date de la Commande</th>
                                                        <th >Portable</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr >
                                                        <td>{{ commande.client.prenom  }}  {{ commande.client.nom }}</td>
                                                        <td>{{ commande.client.adressLivraison }}, {{ commande.client.villeLivraison }}</td>
                                                        <td>{{ commande.dateCommande| date('d/m/Y') }} à {{ commande.dateCommande| date('H:i') }}</td>
                                                        <td>{{ commande.client.tel }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <br /> <br/>
                                                <table class="table table-bordered" >
                                                    <thead> <h4>Le Produit :</h4>
                                                    <tr>
                                                        <th >Produit</th>
                                                        <th >Image</th>
                                                        <th >Quantité</th>
                                                        <th>Montant Total </th>
                                                        <th>Mode de paiement</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr >
                                                        <td>{{ commande.produit.nom }}</td>
                                                        <td><img src="{{ asset('uploads/' ~ commande.produit.imagePath) }}" height="150px" width="100px"></td>
                                                        <td>{{ commande.qte }}</td>
                                                        <td>{{ commande.montantTotal }} DH</td>
                                                        <td>{{ commande.modePaiement }} </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <br /> <br/>
                                                <br /> <br/>
                                                <br /> <br/>
                                            </div>
                                            <div class="box-footer">
                                                <a target="__blank" href="" class="btn btn-default" >Print</a>
                                                <a href="{{ absolute_url(asset(''))}}admin/dashboard/showCommandes/confirm/{{ commande.id }}" class="btn btn-primary">Confirmer</a>
                                                <a href="" class="btn btn-danger">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('build2/js/jquery.js') }}"></script>
    <script src="{{ asset('build2/js/bootstrap.min.js')}}"></script>

    </body>
    </html>
{% endblock %}